.mainContent{
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.panelHeader1{
    height:16px;
}

.datepicker {
    font-size: 0.875em;
}
/* solution 2: the original datepicker use 20px so replace with the following:*/

.datepicker td, .datepicker th {
    width: 1.5em;
    height: 1.5em;
}
.invoiceHeader{
    padding:0px 48px;
}

#inputInvoiceTitle{
    font-weight:770;
    font-size:40px;
}
.photo-drop {
    margin-bottom: 30px;
}
.divider{
    margin: 8px 48px;
    border:0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.descriptionTable{
    padding-left: 48px;
    padding-right: 48px;
    width:100%;
}
.table{
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
th{
    background-color: rgb(51, 51, 51) !important;
    color: rgb(255, 255, 255);
}